*.user
*.trp
Reports
*.log
*.tap
Repository.json
record.cmd
play.cmd
*.bak
idetasks.json

# Node
node_modules/
package-lock.json

# Build artifacts
*.tgz
rapise-*/

# Screenshots
*.png